li {
  display: inline;
  float: left;
  border-right: 1px solid #bbb;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:gray;
  position: sticky;
  width: auto;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

.active, .submit{
  background-color: #b200d6;
} 

.submit {
  width: 100px;
  height: 42px;
  color: white;
}

.created-by {
  color: blue;
  font-style: italic;
}

.post-title {
  text-decoration: underline;
  font-size: 30px;
}

.post-border{
  border: 2px solid black;
  border-radius: 10px;
  background-color:silver;
}

.created-at {
  color: red;
}

.form-group {
  text-align: center;
}

.post-text {
  font-size: 18px;
}

.created-at, .created-by {
  text-align: center;
}

body {
  background-image: url('images/fancyimage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.links {
  border: 2px solid black;
  background-color:  #eb88ff;
  margin-bottom: 10px;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 200px;
}

.links :hover{
  background: linear-gradient(to right, rgb(255, 0, 128), rgb(255, 255, 255), rgb(255, 0, 157), rgb(255, 255, 255), rgb(255, 0, 179));
  color: black;
}

#strong {
  font-weight: bold;
}

.image-url {
  max-width: 300px;
}

.blog-homepage {
  border: 2px solid black;
  border-radius: 10px;
  background-color:white;

}

.fancy {
  background-image: url('images/fancytree.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

